.cover{
  width: 10%;
  background-color: rgb(255, 92, 92);
  color: white;
  padding: 10px;
}

.main-cover{
  /* width: 100%; */
  background-color: rgb(255, 92, 92);
  padding: 0 10% 0 10%;
  display: flex;
}

.section{
  display: flex;
}

.left_div{
   flex: 1;
   background-color: skyblue;
}
.right_div{
  flex: 1;
  background-color: lightcoral;
  border-left: 1px dashed black;
}
 ul{
   list-style: none;
 }